body{
  background: #2c2c2c;
}

@media screen and (max-width: 1700px) {
    body {
        zoom: 87%;
    }
    #chart-position { 
          zoom:115%;
          float: right;
          width:87%;
          height:100%;
        }

#chart-position .notes {
    zoom:77%;
    position:absolute;
    left:16%;
    top:8%;
}
}

@media screen and (max-width: 1620px) {
    body {
        zoom: 82%;
    }
    #chart-position { 
          zoom:122%;
          float: right;
          width:87%;
          height:100%;
        }

#chart-position .notes {
    zoom:68%;
    position:absolute;
    left:16%;
    top:8%;
}
}

@media screen and (max-width: 1500px) {
    body {
        zoom: 80%;
    }
    #chart-position { 
          zoom:125%;
          float: right;
          width:87%;
          height:100%;
        }

#chart-position .notes {
    zoom:68%;
    position:absolute;
    left:16%;
    top:8%;
}
}

@media screen and (max-width: 1370px) {
    body {
        zoom: 70%;
    }
    #chart-position { 
          zoom:142%;
          float: right;
          width:87%;
          height:100%;
        }

#chart-position .notes {
    zoom:70%;
    position:absolute;
    left:16%;
    top:8%;
}
}

@media screen and (max-width: 1290px) {
    body {
        -moz-transform: scale(0.67);
    }
    #chart-position { 
          -moz-transform: scale(1.5);
          float: right;
          width:87%;
          height:100%;
        }

#chart-position .notes {
    zoom:66%;
    position:absolute;
    left:16%;
    top:8%;
}
}

@media screen and (max-width: 1040px) {
    body {
        zoom: 63%;
    }
    #chart-position { 
          zoom:155%;
          float: right;
          width:87%;
          height:100%;
        }

#chart-position .notes {
    zoom:67%;
    position:absolute;
    left:16%;
    top:8%;
}
}



.navPrincipal {
        color: white;
        font-size: 20px;
        font-family:"Arial",Georgia,Serif;
      }

.FontModals {
        color: #2c2c2c;
        font-size: 17px;
        font-family:"Arial",Georgia,Serif;
      }

.FontMouse {
        color: #2c2c2c;
        font-size: 17px;
        font-family:"Arial",Georgia,Serif;
      }

.FontTitleTables {
        color: #2c2c2c;
        font-size: 15px;
        font-family:"Arial",Georgia,Serif;
      }

.FontTables {
        color: #2c2c2c;
        font-size: 13px;
        font-family:"Arial",Georgia,Serif;
      }

.FontModalsTitle {
        color: #2c2c2c;
        font-size: 22px;
        font-family:"Arial",Georgia,Serif;
      }

.buttonView {
        color: #A3FF47;
        font-size: 20px;
        background: #2c2c2c;
        border: #2c2c2c;
        font-family:"Arial",Georgia,Serif;
      }

.CompMethodTitle {
        color: #CC3333;
        display: block;
        text-decoration: none;
        font-size: 17px;
        font-family:"Arial",Georgia,Serif;
      }

.CompMethod {
        color: #FFFFFF;
        font-size: 15px;
        font-family:"Arial",Georgia,Serif;
      }

.typeSearch {
        color: #ffffff;
        display: block;
        text-decoration: none;
        font-size: 16px;
        font-family:"Arial",Georgia,Serif;
      }

.removeSelection {
        color: #F5B800;
        display: block;
        text-decoration: none;
        font-size: 17px;
        font-family:"Arial",Georgia,Serif;
      }

.changeVisualButton {
        color: #00B8F5;
        display: block;
        text-decoration: none;
        font-size: 17px;
        font-family:"Arial",Georgia,Serif;
      }

.legendTitle{
        font-family:"Arial",Georgia,Serif;
        font-size: 19px;
      }

.legendName {
        font-family:"Arial",Georgia,Serif;
        font-size: 17px;
      }
.legendFreq {
        font-family:"Arial",Georgia,Serif;
        font-size: 17px;
      }
.legendPerc {
        font-family:"Arial",Georgia,Serif;
        font-size: 17px;
      }

.legendBar {
        font-family:"Arial",Georgia,Serif;
        font-size: 17px;
      }




#wrapper {
  padding-left: 0px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  width: 12%;
  background: #2c2c2c;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  text-align:left;
  text-indent: 15px;
  top: 0;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 30px;
}


.sidebar-nav li a {
  color: #ffffff;
  display: block;
  text-decoration: none;
  font-size: 17px;
  font-family:"Arial",Georgia,Serif;
}


.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 26px;
  color: #FF6600;
  font-family:"Arial",Georgia,Serif;
}

.sidebar-nav > .sidebar-brand a {
  color: #ffffff;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

@media (max-width:767px) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
}

#wrapper.active {
  position: relative;
  left: 250px;
}

#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: inline-block;
}

.inset {
  padding: 15px;
}

}